.site-footer {
    text-align: center !important;
}

.site-footer:before {
    text-align: center !important;
    content: "";
    display: inline-block  !important;
    height: 3px;
    width: 50px;
    background: var(--body-text-color);
    margin-bottom: 20px;
}

.article-list article .article-image img {
    height: 180px !important;
}

@media (min-width: 1280px){
    .article-list article .article-image img {
        height: 400px !important;
    }
}