.site-footer {
    text-align: center !important;
}

.site-footer:before {
    text-align: center !important;
    content: "";
    display: inline-block  !important;
    height: 3px;
    width: 50px;
    background: var(--body-text-color);
    margin-bottom: 20px;
}